[manifest]
version = "1.0.0"
priority = 0

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''
for i = 1, 4 do 
    table.sort(self.P_JOKER_RARITY_POOLS[i], function (a, b) return a.order < b.order end)
end
'''
position = "after"
payload = '''
for k,v in pairs(self.P_CENTERS) do
    print(k)
    v.config = v.config or {}
    v.config.fg_data = {
        is_alternate = false,
        alternate_card = string.sub(k,1,1).."_fg_"..string.sub(k,3),
        vars = {}
    }

end
'''
match_indent = false
times = 1

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
    if full_UI_table.name then
        full_UI_table.info[#full_UI_table.info+1] = {}
        desc_nodes = full_UI_table.info[#full_UI_table.info]
    end
'''
position = "after"
payload = '''
    if first_pass and FG.config.extended_tooltips and _c.config and _c.config.fg_data and _c.config.fg_data.alternate_card then
        info_queue[#info_queue+1] = G.P_CENTERS[_c.config.fg_data.alternate_card]
    end
'''
match_indent = false
times = 1
