[manifest]
version = "1.0.0"
priority = 300000

# INJECT ALT JOKER DATA

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''
for i = 1, 4 do 
    table.sort(self.P_JOKER_RARITY_POOLS[i], function (a, b) return a.order < b.order end)
end
'''
position = "after"
payload = '''
for k,v in pairs(self.P_CENTERS) do
    v.config = v.config or {}
    v.config.fg_data = v.config.fg_data or {
        is_alternate = false,
        alternate_card = string.sub(k,1,1).."_fg_"..string.sub(k,3),
        vars = {}
    }
end
for k,v in pairs(self.P_SEALS) do
    v.config = v.config or {}
    v.config.fg_data = v.config.fg_data or {
        is_alternate = false,
        alternate_card = 'fg_'..string.lower(k)
    }
end
'''
match_indent = false
times = 1

# INFO QUEUE STUFF

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
    if full_UI_table.name then
        full_UI_table.info[#full_UI_table.info+1] = {}
        desc_nodes = full_UI_table.info[#full_UI_table.info]
    end
'''
position = "after"
payload = '''
    if first_pass and FG.config.extended_tooltips and _c.config and _c.config.fg_data then
        if _c.config.fg_data.alternate_card then
            info_queue[#info_queue+1] = G.P_CENTERS[_c.config.fg_data.alternate_card]
        end
        if _c.config.fg_data.crossover_label then
            info_queue[#info_queue+1] = {set = 'Other', key = 'fg_crossover_label', vars = {_c.config.fg_data.crossover_label}}
        end
    end
'''
match_indent = false
times = 1

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
    if v == 'eternal' then info_queue[#info_queue+1] = {key = 'eternal', set = 'Other'} end
'''
position = "before"
payload = '''
    if string.find(v,'_seal',string.len(v)-5) then
        local temp = v
        if temp == 'gold_seal' then temp = 'Gold'
        elseif temp == 'red_seal' then temp = 'Red'
        elseif temp == 'blue_seal' then temp = 'Blue'
        elseif temp == 'purple_seal' then temp = 'Purple' 
        else temp = string.sub(temp,1,string.len(temp)-5)
        end
        if G.P_SEALS[temp] and G.P_SEALS[temp].config and G.P_SEALS[temp].config.fg_data then
            if G.P_SEALS[temp].config.fg_data.alternate_card then
                info_queue[#info_queue+1] = G.P_SEALS[G.P_SEALS[temp].config.fg_data.alternate_card]
            end
            if first_pass and G.P_SEALS[temp].config.fg_data.crossover_label then
                info_queue[#info_queue+1] = {set = 'Other', key = 'fg_crossover_label', vars = {G.P_SEALS[temp].config.fg_data.crossover_label}}
            end
        end 
    end
'''
match_indent = false
times = 1


# CHALLENGES UNCHANGEABLE PATCH

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''
                            if v.pinned then _joker.pinned = true end
'''
position = "after"
payload = '''
                            if v.rental then _joker:set_rental(true) end
                            if v.fg_unchangeable then _joker.ability.fg_unchangeable = true end
'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''
    if v.eternal then card:set_eternal(true) end
'''
position = "after"
payload = '''
    if v.rental then card:set_rental(true) end
    if v.fg_unchangeable then card.ability.fg_unchangeable = true end
'''
match_indent = false
times = 3

# PREVENT REPEAT CENTERS

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
G.GAME.used_jokers[self.config.center.key] = true
'''
position = "after"
payload = '''
    if self.config.center.config.fg_data and self.config.center.config.fg_data then G.GAME.used_jokers[self.config.center.config.fg_data.alternate_card] = true end
'''
match_indent = false
times = 1

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
    G.GAME.used_jokers[self.config.center.key] = nil
'''
position = "at"
payload = '''
    if self.config.center.config.fg_data and not next(find_joker(self.config.center.config.fg_data.alternate_card, true)) then 
        G.GAME.used_jokers[self.config.center.key] = nil
        if self.config.center.config.fg_data.alternate_card then G.GAME.used_jokers[self.config.center.config.fg_data.alternate_card] = nil end
    end
'''
match_indent = false
times = 1