[manifest]
version = "1.0.0"
priority = 3000

# INFO QUEUE STUFF

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
    if full_UI_table.name then
        full_UI_table.info[#full_UI_table.info+1] = {}
        desc_nodes = full_UI_table.info[#full_UI_table.info]
    end
'''
position = "after"
payload = '''
    if first_pass and FG.config.extended_tooltips and _c.config and _c.config.fg_data then
        if _c.config.fg_data.alternate_card then
            info_queue[#info_queue+1] = G.P_CENTERS[_c.config.fg_data.alternate_card]
        end
        if _c.config.fg_data.crossover_label then
            info_queue[#info_queue+1] = {set = 'Other', key = 'fg_crossover_label', vars = {_c.config.fg_data.crossover_label}}
        end
    end
'''
match_indent = false
times = 1

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
    if v == 'eternal' then info_queue[#info_queue+1] = {key = 'eternal', set = 'Other'} end
'''
position = "before"
payload = '''
    if string.find(v,'_seal',string.len(v)-5) then
        local temp = v
        if temp == 'gold_seal' then temp = 'Gold'
        elseif temp == 'red_seal' then temp = 'Red'
        elseif temp == 'blue_seal' then temp = 'Blue'
        elseif temp == 'purple_seal' then temp = 'Purple' 
        else temp = string.sub(temp,1,string.len(temp)-5)
        end
        if G.P_SEALS[temp] and G.P_SEALS[temp].config and G.P_SEALS[temp].config.fg_data then
            if G.P_SEALS[temp].config.fg_data.alternate_card then
                info_queue[#info_queue+1] = G.P_SEALS[G.P_SEALS[temp].config.fg_data.alternate_card]
            end
            if first_pass and G.P_SEALS[temp].config.fg_data.crossover_label then
                info_queue[#info_queue+1] = {set = 'Other', key = 'fg_crossover_label', vars = {G.P_SEALS[temp].config.fg_data.crossover_label}}
            end
        end 
    end
'''
match_indent = false
times = 1