[manifest]
version = "1.0.0"
priority = 0

# INJECT ALT JOKER DATA

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''
for i = 1, 4 do 
    table.sort(self.P_JOKER_RARITY_POOLS[i], function (a, b) return a.order < b.order end)
end
'''
position = "after"
payload = '''
for k,v in pairs(self.P_CENTERS) do
    v.config = v.config or {}
    v.config.fg_data = v.config.fg_data or {
        is_alternate = false,
        alternate_card = string.sub(k,1,1).."_fg_"..string.sub(k,3),
        vars = {}
    }
end
for k,v in pairs(self.P_SEALS) do
    v.config = v.config or {}
    v.config.fg_data = v.config.fg_data or {
        is_alternate = false,
        alternate_card = 'fg_'..string.lower(k)
    }
end
self.P_CENTERS['c_base'].config.fg_data = nil
'''
match_indent = false
times = 1

# CHALLENGES UNCHANGEABLE PATCH

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''
                            if v.pinned then _joker.pinned = true end
'''
position = "after"
payload = '''
                            if v.rental then _joker:set_rental(true) end
                            if v.fg_unchangeable then _joker.ability.fg_unchangeable = true end
'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''
    if v.eternal then card:set_eternal(true) end
'''
position = "after"
payload = '''
    if v.rental then card:set_rental(true) end
    if v.fg_unchangeable then card.ability.fg_unchangeable = true end
'''
match_indent = false
times = 3

# PREVENT REPEAT CENTERS

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
G.GAME.used_jokers[self.config.center.key] = true
'''
position = "after"
payload = '''
        if self.config and self.config.center and self.config.center.config and self.config.center.config.fg_data and self.config.center.config.fg_data and G.P_CENTERS[self.config.center.config.fg_data.alternate_card] then G.GAME.used_jokers[self.config.center.config.fg_data.alternate_card] = true end
'''
match_indent = false
times = 1

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
    G.GAME.used_jokers[self.config.center.key] = nil
'''
position = "at"
payload = '''
    if self.config.center.config.fg_data and not next(find_joker(self.config.center.config.fg_data.alternate_card, true)) then 
        G.GAME.used_jokers[self.config.center.key] = nil
        if self.config.center.config.fg_data.alternate_card then G.GAME.used_jokers[self.config.center.config.fg_data.alternate_card] = nil end
    end
'''
match_indent = false
times = 1